#*
"userInf":{
"id": 33,
"firstName": "Mausum",
"lastName": "Nandi",
"profilePicture":{"original":{"path": "32/7355841379748.jpg", "type": "", "size":{"width": 680,…},
"identityDocUrl": "identityDoc/32/10300038890383.documentIdentity",
"createdDate": 1472119961000,
"userAddress":{
"id": 19,
"address": "",
"zip": "",
"city": "",
"state": "",
"lat": null,
"lng": null,
"createdDate": 1470640462000
},
"identityType":{
"id": 1,
"name": "Passport",
"createdDate": 1470374364000
}
}
},
*#

<table>
    <tr>
        <td>Name : </td><td>$user.userInf.firstName $user.userInf.lastName</td>
    </tr>
    <tr>
        <td>Email : </td><td>$user.email</td>
    </tr>
    <tr>
        <td>Phone Number : </td><td>$user.userInf.phoneNumber</td>
    </tr>
    <tr>
        <td>Address : </td><td>#if($user.userInf.userAddress.address)$user.userInf.userAddress.address#end</td>
    </tr>
    <tr>
        <td>City : </td><td>#if($user.userInf.userAddress.city)$user.userInf.userAddress.city#end</td>
    </tr>
    <tr>
        <td>State : </td><td>#if($user.userInf.userAddress.state)$user.userInf.userAddress.state#end</td>
    </tr>
    <tr>
        <td>Zip : </td><td>#if($user.userInf.userAddress.zip)$user.userInf.userAddress.zip#end</td>
    </tr>
</table>