@font-face {
    font-family:Lato-Reg;
    src: url(../fonts/LaoUI.ttf);
}
body{
    font-family:Lato-Reg !important;
}
.top_nav .navbar-nav  li a.top_nav_a {
    padding: 15px 10px 15px 0px ;
    color: #fff ;
}
.right{
    float: right !important;
}
.left{
    float: left !important;
}
.center{
    text-align: center !important;
}
.top_nav{

    background: #434343;
    font-size: 12px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
}
.top_nav_ul li{
    list-style: none;
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 15px 0px;
}
.top_nav_ul li a{
    color: #fff;
}
.top_nav_ul li a:hover{
    color: #fff;
    text-decoration: none;
}
.top_nav_ul{
    padding: 0px 0px;
    margin: 0px;
}
.top_nav_ul  li a.top_nav_a i{
    padding: 0px 10px;
}
.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.mid_nav{
    background-color: #363636;
    border: 0px;
    border-radius: 0px;
}
.mid_nav li{
    list-style: none !important;
    padding: 15px 0px;
}
.search_button .search_btn:hover {
    background: #d68f33;
    border: 1px solid #d68f33;
}

.mid_nav_logo_ul{
    padding: 0px;

}
.mid_nav_contact {
    padding: 30px 0px;
}
.mid_nav_contact i{
    padding: 0px 10px;
}
.mid_nav_logo_ul li img{
    max-width: 100px;

}
span.conatct_number {
    color: #fff;
}
.contact_icon {
    color: #cf9824;

}
.main_nav {
    border-top: 0px;
    background-color: #fff;
    border-color: #dadada;
    margin: 0px;
}
.main_nav li{
    float: left !important;
    list-style: none !important;
}
.dropdown.catagory_drop{
    padding-top: 8px;
}
.dropdown.catagory_drop .catagory_drop_a{
    padding: 6px;
    border: 1px solid #9a9a9a;
    border-radius: 0px;
}
.dropdown.catagory_drop .catagory_drop_a i{
    margin-right: 5px;
    color: #d88c2e;
}
.search_button button{
    border-left: 0px;
    border-radius: 0px;
    border-color: #9a9a9a;
}
.search_button {
    float: left;

}
.main_search_form input{
    float: left;
    border-radius: 0px;
    border-right: 0px;
    border-color: #9a9a9a;
}
.main_navigation li a{
    color: #222222 !important;
    font-size: 12px;
    font-weight: 700;
}
.main_navigation li{
    border-top: 2px solid transparent;
}
.main_navigation li:hover{
    background-color: #d58e34;
    border-top: 2px solid #282c2f;
}
.main_navigation li a:hover{
    color: #fff !important;
}

.left_slide_head {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    position: relative;
}
.custom_car_ind li{
    border: 1px solid #fff ;
    background-color: #fff;
}
.custom_car_ind .active{
    background-color: #cf9824 !important;
    border: 1px solid #cf9824 ;
}
.custom_car_ind{
    position: absolute;
    text-align: left;
    right: 0;
    bottom: -5px;
    left: 100% !important;
    width: auto !important;

}
.cap1 p{
    margin: 0px;
}
.cap1{
    padding: 5px;
    background: rgba(0, 0, 0, 0.56);
    bottom: 120px;
}
ul.cap_ul {
    padding: 0px;
    padding-left: 10px;
    position: absolute;
    bottom: -30px;
    width: 100%;
    margin: 0px;
    text-align: center;
}
.cap_ul li {
    list-style: none;
    display: inline-block;
    width: 75px;
    background: rgba(0, 0, 0, 0.7);
    margin-right: 5px;
    height: 75px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    color: #fff;
}
.carousel-inner{
    overflow: visible;
}
span.amount {
    display: block;
    font-size: 20px;
    font-weight: 800;
}
.left_home_car{
    overflow: hidden;
    height: 388px;
}
.left_home_car .item{
    margin-bottom: 50px;
}
.cap3 {
    position: absolute;
    bottom: -125px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.product_name {
    width: 100%;
    font-size: 15px;
}

.cap3 input{
    margin-bottom: 10px;
}
.cap3 input:before{
    font-family: FontAwesome;
    content: "\f006";
}
.divider{
    width: 100%;
    height: 2px;
    background: #c5c0c0;
    position: relative;
}
.divider:before {
    content: "";
    position: absolute;
    width: 33px;
    height: 2px;
    background: #db8b32;
    left: 155px;
}
.option{
    text-align: left;
    padding: 0px 10px;
}
.option a{
    color: #383838;
}
.option a:hover{
    color: #fff;
}
.option i{
    text-align: left;
    border: 1px solid #8c8c8c;
    padding: 5px;

}
.option i:hover{
    text-align: left;
    border: 1px solid #db8b32;
    padding: 5px;
    background-color: #db8b32;
}
.option_but{
    margin-top: 10px
}
.present_price {
    background: #000;
    padding: 0px 15px;
    color: #fff;
}
.prev_price {
    text-decoration: line-through;
}
.main_product_slider {
    height: 388px;
    overflow: hidden;
    position: relative;
}
.main_product_slider .carousel-inner{
    height: 388px;
}
/*.main_product_slider .carousel-inner .item{
    height: 100%;
}
.main_product_slider .carousel-inner .item{
    max-height: 100%;
    max-width: 100%;
}*/

.main_product_slider .left{
    position: absolute;
    width: 50%;
    left: 0px;
    background: #000;
    opacity: 1;
    height: 40px;
    top: 348px;
    line-height: 38px;
}
.main_product_slider .right{
    position: absolute;
    width: 50%;
    right: 0px;
    background: #000;
    opacity: 1;
    height: 40px;
    top: 348px;
    line-height: 38px;
}
.main_product_slider .left:hover, .main_product_slider .right:hover{
    background: #DB8C31;
}
.home_slider{
    float: left;
    width: 100%;
    margin-bottom: 70px;
}
.spec_container{
    padding: 40px 20px;
    border: 1px solid #b8b8b8;
    text-align: center;
    position: relative;
}
.spec_container label{
    width: 100%
}
.spec_icon i{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
}
.spec_icon {
    position: absolute;
    font-size: 35px;
    top: -37px;
    left: 35%;
    right: 15%;
    border: 1px solid black;
    padding: 8px;
    border-radius: 50%;
    width: 75px;
    background: #fff;
}
.spec_container:hover label{
    color: #dba388;
}
.spec_container:hover i{
    color: #fff;
    background: #d58e34;
    border-color: #d58e34;
}
.spec_container:hover .spec_icon{
    border-color: #d58e34;
}
.speciality{
    padding-bottom: 40px;
}
.big_ass_offer{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.small_ass_offer{
    width: 100%;
    height: 185px;
    overflow: hidden;
}
.small_1{
    margin-bottom: 30px;
}
.offer_cap_big {
    position: absolute;
    top: 5%;
    color: #fff;
    background: rgba(0, 0, 0, 0.56);
    left: 5%;
    right: 5%;
    bottom: 5%;
    padding: 0px 20px;
}
.type {
    margin-top: 30%;
    font-weight: 700;
}
.discount {
    float: left;
    border: 1px solid #fff;
    font-size: 35px;
    padding: 10px 15px;
    font-weight: 700;
}

.name {
    font-weight: 800;
    margin: 0px 0px;
}
.offer_cap_small_1{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.small_ass_offer{
    position: relative;
}
.small_1_text {
    background: rgba(0, 0, 0, 0.56);
    color: #fff;
    padding: 10px 0px 3px 0px;
    margin-top: 30px;
}
.s_type{
    margin-bottom: 10px;
    margin-top: 0px;
}
.s_price{
    font-size: 24px;
    color: #cf9824;
    font-weight: 700;
}
.product_carousel,.blog_container{
    padding: 40px 15px;
}
.gallery_head{
    border-bottom: 1px solid #8d8d8d;
    position: relative;
    color: #dd8c31;
    font-weight: 700;
    margin-top: 0px !important
}
.gallery_head:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #dd8c31;
    bottom: -1px;

}
.gallery_nav{
    border: 0px !important;
}
.gallery_nav li a{
    margin: 0px !important;
    font-size: 15px;
    padding: 5px 0px;
    font-weight: 900;
}
.gallery_nav li:hover a{
    color: #dd8c31;
}
.gallery_nav li{
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    margin: 0px;
    width: 25%;
    text-align: center;
}
.nav-tabs>li.active{
    border-bottom: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #dd8c31;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    cursor: default;
}
.best_offer {
    overflow: hidden;
    height: 520px;
    position: relative;
}
.best_offer_text{
    position: absolute;
}
.best_offer_text {
    position: absolute;
    top: 44px;

    width: 100%;
}
.offer_rate {
    background: rgba(0, 0, 0, 0.51);
    text-align: center;
    padding: 5px 0px;
}
span.pre_rate {
    color: #fff;
    font-size: 15px;
}
span.rate {
    font-size: 41px;
    padding: 0px 9px;
    color: #7bad32;
    font-weight: 900;
}
.offer_head{
    margin: 20px 0px;
}
.offer_des {
    padding-left: 30px;
}
.name {
    font-size: 40px;
    color: #dc8d28;
}
.shop_btn{
    background-color: #7bae2f;
    color: #fff;
}
.shop_btn:hover{
    background-color: #476914;
    color: #fff;
}
.owl-prev {
    position: absolute;
    left: 0;
    top: -132px;
    color: transparent;
    display: none;
    content: " ";
    height: 132px;
    background: #2b2b2b;
}
.owl-next {
    position: absolute;
    right: 0;
    top: -132px;
    color: transparent;
    display: none;
    content: " ";
    height: 132px;
    background: #2b2b2b;
}
.owl-prev:after {
    content: "\f053";
    font-family: FontAwesome;
    color: #fbfbfb;
    position: absolute;
    /* height: 100px; */
    /* background: red; */
    left: 10px;
    top: 44%;
}
.owl-next:after {
    content: "\f054";
    font-family: FontAwesome;
    color: #fbfbfb;
    position: absolute;
    /* height: 100px; */
    /* background: red; */
    left: 10px;
    top: 44%;
}
.owl-nav {
    position: relative;
}
.sponser_slider{
    padding-bottom: 40px;
    padding-top: 40px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.feedback_icon{
    text-align: center;

}
.feedback_text{
    text-align: center;
    font-size: 15px;

}
.footer {
    min-height: 200px;
    background-color: #363636;
    color: #fff;
    padding: 50px 0px;
}
.footer_head{
    margin: 0px;
    font-size: 18px;
}
.footer_ul{
    padding: 20px 0px;
}
.footer_ul li{
    list-style: none;
    font-size: 15px;
    color: #a0a0a0;
    padding: 5px 0px;
}
.footer_bottom{
    background-color: #2b2b2b;
    font-size: 12px;
    color: #a0a0a0;
    min-height: 50px;
}
.bottom_footer_content{
    padding: 20px 0px;
    width: 100%;
    float: left;
}
.copyright{
    width: 50%;
    float: left;
}
.social_link{
    width: 50%;
    float: right;
    text-align: right;
}
span.social_link_i i:hover{
    color: #DB8C31;
}
span.social_link_i i{
    font-size: 20px;
    padding: 0px 10px;
}
.client_details{
    width: 100%;
}
.client_img img{
    width: 100px;
}
.client_img{
    width: 50%;
    float: left;
    text-align: right;
    padding: 0px 5px;
}
.client_info{
    width: 50%;
    float: left;
    text-align: left;
    padding: 0px 5px;
}
.client_name {
    font-size: 15px;
}
.client_type {
    font-size: 12px;
}
.offer img {
    width: 100%;
}
.best_offer img {
    width: 100%;
}

/*============end of arnab =============*/


p {
    line-height: 1.5;
    margin: 30px 0;
}
p a {
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}
a {
    color: #333333;
}
a:hover,
a:focus {
    color: #0085A1;
}
a img:hover,
a img:focus {
    cursor: zoom-in;
}
blockquote {
    color: #777777;
    font-style: italic;
}
hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}
.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
    font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
    color: #777777;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}
.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }
    .navbar-custom .navbar-brand {
        color: white;
        padding: 20px;
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8);
    }
    .navbar-custom .nav li a {
        color: white;
        padding: 20px;
    }
    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: rgba(255, 255, 255, 0.8);
    }
}
@media only screen and (min-width: 1170px) {
    .navbar-custom {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .navbar-custom.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -61px;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid #f2f2f2;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
    .navbar-custom.is-fixed .navbar-brand {
        color: #333333;
    }
    .navbar-custom.is-fixed .navbar-brand:hover,
    .navbar-custom.is-fixed .navbar-brand:focus {
        color: #0085A1;
    }
    .navbar-custom.is-fixed .nav li a {
        color: #333333;
    }
    .navbar-custom.is-fixed .nav li a:hover,
    .navbar-custom.is-fixed .nav li a:focus {
        color: #0085A1;
    }
    .navbar-custom.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
.intro-header {
    background-color: #777777;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150px 0;
    }
}
.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
    }
}
.intro-header .post-heading h1 {
    font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}
.intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}
.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}
.intro-header .post-heading .meta a {
    color: white;
}
@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }
    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
}
.post-preview > a {
    color: #333333;
}
.post-preview > a:hover,
.post-preview > a:focus {
    text-decoration: none;
    color: #0085A1;
}
.post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}
.post-preview > .post-meta {
    color: #777777;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}
.post-preview > .post-meta > a {
    text-decoration: none;
    color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
    color: #0085A1;
    text-decoration: underline;
}
@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 36px;
    }
}
.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}
.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
footer {
    padding: 50px 0 65px;
}
footer .list-inline {
    margin: 0;
    padding: 0;
}
footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}
.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}
.floating-label-form-group-with-focus label {
    color: #0085A1;
}
form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}
.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}
.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #0085A1;
    border: 1px solid #0085A1;
    color: white;
}
.pager {
    margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
    color: white;
    background-color: #0085A1;
    border: 1px solid #0085A1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777777;
    background-color: #333333;
    cursor: not-allowed;
}
::-moz-selection {
    color: white;
    text-shadow: none;
    background: #0085A1;
}
::selection {
    color: white;
    text-shadow: none;
    background: #0085A1;
}
img::selection {
    color: white;
    background: transparent;
}
img::-moz-selection {
    color: white;
    background: transparent;
}
body {
    -webkit-tap-highlight-color: #0085A1;
}


/*Author:Tanveer 21-07-2016 , 4:07*/

.block-head{
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom:3px solid #DADADA;
    color: #DB8C31;
    padding-bottom: 10px;
}
.block-head:before{
    content: " ";
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 30px;
    height: 3px;
    background: #DB8C31;
}
.carousel-cstm{
    position: relative;
}
.carousel-cstm .carousel-indicators{
    position: absolute;
    width:60px;
    margin-right: 0px;
    right: 0px;
    background: #fff;
    height:30px;
    top:17px;
    left: auto;
}

.carousel-cstm .carousel-indicators li{
    background: #E3E3E3;
    border-color: #E3E3E3;
}
.carousel-cstm .carousel-indicators .active{
    background-color: #DB8C31;
    border-color:#DB8C31;
}
.single-item{
    margin-top: 10px;
}
.single-item .panel{
    border-radius: 0px;
    border: 1px solid #e6e6e6;
    min-height: 200px;
    background: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.img-single{
    height: 200px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.img-single img{
    max-width:100%;
}
.product-btn-grp{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.product-btn-grp .gbtn{
    font-size: 13px;
    background: #333;
    color: #fff;
    padding: 7px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.product-btn-grp .gbtn:hover{
    background: #DB8C31;
    color: #fff;
    text-decoration: none;
}
.product-btn-grp .left{
    float: left;
}
.product-btn-grp .right{
    float: right;
    text-transform: uppercase;
}
.block-desc{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #333;
    position: relative;
}
.block-desc label{
    font-size: 14px;
    color: #2B2B2B;
}
.block-desc:after{
    position: absolute;
    content: " ";
    bottom: -2px;
    width: 50px;
    height: 3px;
    background: #DB8C31;
    margin: 0px auto;
    left: 40%;
    display: block;
}
.block-action{
    padding:15px 0px;
    overflow: hidden;
}
.block-action .btn-fav{
    border: 1px solid #a4a4a4;
    padding: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    margin-right: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.block-action .btn-compare{
    border: 1px solid #a4a4a4;
    padding: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #a4a4a4;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-compare:hover, .btn-fav:hover{
    background: #333;
    color: #fff;
}
.block-action .price-tag{
    padding: 5px;
    background:#2B2B2B;
    height: 40px;
    width: 100px;
    float: right;
    color: #fff;
    text-align: center;
    font-size:16px;
    font-weight: bold;
    line-height: 30px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.single-item:hover .block-desc .title-label{
    color: #DB8C31;
}
.single-item:hover .price-tag{
    background: #DB8C31;
}

.blog-single{
    position: relative;
}
.blog-single .panel{
    border: 0px;
    border-radius: 0px;
}
.blog-single .blog-img{
    height: 300px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    width: 100%;
}
.blog-single .blog-img{
    /*! max-width: 100%; */
    height: 300px;
}
.blog-single .blog-img img{
    max-width: 100%;
    height: 300px;
    z-index: 2;
}
.blog-desc p{
    margin-top:10px;
    font-size: 14px;
}
.blog-single .blog-desc{
    width: 85%;
    z-index: 3;
    margin: 0px auto;
    background: #fff;
    margin-top: -50px;
    position: relative;
    text-align: center;
}
.blog-desc .date-comment{
    padding: 10px;
    font-size: 13px;
    color: #888;
    text-align: center;
    margin-bottom: 15px;
}
.blog-desc .date-comment span{
    margin: 0px 10px;
}
.blog-desc .blog-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
}
.btn-read{
    background: #333;
    border: 0px;
    padding: 7px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.btn-read:hover{
    background: #DB8C31;
}

/*Author:Tanveer 21-07-2016 , 4:07*/


/*Author:Arnab 27-07-2016 , 5:07*/


/************Sign-up***************/

.bg1 {
    background: url(../img/21.jpg);
}
.center-bg {
    background: #f7f7f7;
    box-shadow: 0px 0px 20px #888888;
}
.parallax-window {
    height: 250px;
    background-size: cover;
    box-sizing: border-box;
    background-position: center center;
}
.title-block {
    background: rgba(0,0,0,0.51);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.title-block h1::first-letter {
    color: #d68f33;
}
.title-block h1 {
    font-size: 3.2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
    color: #fff;
    font-weight: 900;
    letter-spacing: -2px;
}
.title-block p {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
.form-signup {
    padding: 40px 140px;
}
.btn-cstm-sign {
    border: 2px solid #d68f33;
    font-family: inherit;
    font-size: 16px;
    color: #d68f33;
    background: none;
    cursor: pointer;
    padding: 10px 25px;
    display: inline-block;
    margin: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 10px;
}
.btn-cstm-sign:hover {
    overflow: hidden;
    color: #fff;
    border-color: #d68f33;
    background-color: #d68f33;
}
.fallback {
    border: 2px dashed #cccccc;
    border-radius: 5px;
    background: white;
    padding: 15%;
    text-align: center;
    cursor: pointer;
}

.form-signup .form-control {
    display: block;
    width: 100%;
    height: 34px;
    border: 0px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-signup .form-control:focus {
    border-bottom: 1px solid #d68f33;
}
/*Rating custom*/

.error-form{
    color: #da280b;
    font-size: 12px;
    text-align: right;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: none;
    margin: 0px auto;
    width: 135px;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'FontAwesome';
    display: inline-block;
    content: "\f005";
}

[type="radio"]:not(checked)+label:before,
[type="radio"]:not(checked)+label:after{
    border:none;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/*Rating custom*/