<div style="width: 550px;margin:20px auto;background: #EFEFEF;min-height: 300px;padding:10px;color: #000;box-sizing: border-box;font-family: 'Open sans',sans-serif;">
    <div style="position: relative;">
        <img src="http://rentguru24.com/resources/img/email-logo.png" class="CToWUd">
        <div style="display: block;width: 100%;overflow: hidden;background: #fff;padding:20px;min-height: 100px;box-sizing: border-box;margin-top: 10px;">
