<p style="font-size: 14px;">
    Regards,<br>
    RentGuru24 Team
</p>
</div>
<p style="text-align: center;color: #a4a4a4;font-size: 13px;text-transform: capitalize;">
    Read Our <a style="color: #000;" href="#">Privacy policy</a> and <a style="color: #000;" href="#">Terms of use</a>
</p>
</div>

</div>