.fallback {
    border: 2px dashed #cccccc;
    border-radius: 5px;
    background: white;
    padding: 15%;
    text-align: center;
    cursor: pointer;
}
.inner-load {
    background: rgba(255,255,255,0.8) url(../img/squares.gif) no-repeat;
    background-position: center center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: 35px 35px;
}